@font-face {
    font-family: 'gotham';
    src: url('../../fonts/gotham/GothamBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'gotham';
    src: url('../../fonts/gotham/GothamLight.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'gotham';
    src: url('../../fonts/gotham/GothamThin.otf');
    font-weight: 200;
}
@font-face {
    font-family: 'gotham';
    src: url('../../fonts/gotham/GothamMedium.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'gotham';
    src: url('../../fonts/gotham/GothamBook.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'gotham';
    src: url('../../fonts/gotham/GothamXLight.otf');
    font-weight: 100;
}
@font-face {
    font-family: 'gotham';
    src: url('../../fonts/gotham/GothamBlack.otf');
    font-weight: 900;
}
.container{
    width: 100%;
    background-color: blue;
}
.containerHeader{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #f3f3f3;
    padding: 0.4em;
    border-radius: 0.4em;
    
    .containerLogin{
        display: flex;
        padding: 0.5em;
        background-color: #ffffff;
        border-radius: 0.5em;
        justify-content: space-around;
        align-items: center;
        border: 0.3px solid #5a248369;
        .boxSearch{
            width: 100%;            
            
            i{
                position: absolute;
                margin-left: 0.5em;
                margin-top: 4px;
                color: #bdbdbd;
            } 
            input{
                padding-left: 2em;
                padding-bottom: 4px;
                padding-top: 4px;
                border: 0.4px solid #5a248363;
                border-radius: 20px;
                background-color: transparent;
                font-family: 'gotham';
                font-weight: normal;
                transition: border 1s step-end;
                &:focus{
                    outline: none;
                    color: #1e1d3d;
                    border: 0.8px solid #1e1d3d54;
                    
                }
                &:hover{
                    border: 0.4px solid #1e1d3d54;
                }  
                      
                
               
            }
              

        }
        .boxControl{
            padding: 5px;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            flex-wrap: nowrap;
            align-items: center;
            font-size: 24px; 
            
            .logoUser{
                text-decoration: none;
                margin-left: 1em;
                background-color: white;
                border: #1e1d3d solid 1px;
                border-radius: 50%;                
                padding: 2px;
                padding-left: 7px;
                padding-right:7px;
                transition: all 1s linear;
                align-items: center;
                
                i{
                    color: #1e1d3d;
                }
                &:hover{
                    border-color: #ea5353;
                    i{
                        color: #ea5353;
                        
                    }
                }
            }
            .boxManager{
                display: flex;
                flex-wrap: nowrap;
                padding-right: 1rem;
                border-right: #1e1d3d solid 0.4px;
                  
                i{
                        color: #1e1d3d;
                        text-decoration: none;
                        margin-left: 1em;
                        
                } 
                
                &:hover{
                    border-color: #5a2483;
                    i{
                        &:hover{
                            color: #5a2483;
                        }
                    }
                }
            }


        }        
            
        
    }
    .containerWelcome{
        padding: 0.65em;
        h3{
            font-weight: 900;
            color: #f6bb18;
        }
        span{
            font-weight: 100;
        }
        br{
            line-height: 0.4px;
        }
    }
    
}
.containerPannel{
    background: #e9e9e9; 
    display: flex;
    .layout{
        width: 100%;
        padding: 1em;
    }
    hr{
            line-height: 0.4px;
            padding-bottom: 5px;
        }
    .boxCard{
        padding: 1em;
        display: flex;
        justify-content: space-between;
        .card{
           
            box-shadow: 0px 2px 5px #1c1a19;
            color: #bdbdbd;
            padding: 1em;
            display: flex;
            width: 100%;
            margin: 0.5em;
            font-family: 'gotham';
            text-decoration: none;
            &:hover{
                 box-shadow: 0px 2px 5px #d4d4d4;
            }

            
            .cardTitles{
                padding-bottom:30px ;
                font-size: 2.8em;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                color: white;
            }
            .cardSubtitle{
                text-align: end;
                color: white;
            }
        }

        .cardColor{
             background: linear-gradient(to bottom,#1e1d3d 0%, #5a2483);

        }
        .cardColorWhite{
             background: linear-gradient(to bottom, #ea5353 0%, #ff9a9a );

        }
        .cardColorPurple{
             background: linear-gradient(to bottom, #5a2483 0% ,#cb95f5);

        }
        .cardColorbluesky{
             background: linear-gradient(to bottom, #00b7ff 0% ,#006188);

        }
        .cardColorgreen{
             background: linear-gradient(to bottom, #5fff20 0% ,#41971f);

        }
    }
}
.containerCharts{
    background: #f3f3f3;
    width: 100%;
    padding: 1em;
    border-radius: 0.4em;
    h3{
        font-weight: 300;
        font-family: 'gotham';
        
    }
    hr{
        line-height: 0.4px;
    }
    .boxCharts{
        display: flex;
        width: 100%;
        .chart{
            width: 100%;
            margin: 0.5em;
            padding: 1em;
            border-radius: 5px;
            border: 0.4px solid;
        }
    }
    

}
.menu{
    width: 25%;
    background: #1e1d3d;
    
    .boxLogo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'gotham';
        align-items: center;
        padding: 0.2em;
        color: #cb95f5;
        background: #5a2483;
        border-bottom: #e9e9e9 0.4px solid;
    }
    .boxLinks{
        padding-top: 1em;
        padding-bottom: 2em;
        ul{
            list-style: none;
            color: #f3f3f3;
            padding-left: 0;
            padding-right: 0.5em;
            li{           
                
                width: 100%;
                margin-top: 1em;
                .Links{
                    display: flex;
                    align-items: center;                   
                    text-decoration: none;
                    font-family: 'gotham';
                    margin: 10px;
                    color: #cb95f5;
                    border: #cb95f5 1px solid;
                    border-radius: 0.2em;
                    transition: all 0.3s ease-out;
                    i{
                        padding: 0.5em;
                        text-decoration: none;
                        background: #cb95f5;
                        color: #1e1d3d;
                        margin-right: 10px;
                        border-bottom: #cb95f5 1px solid;
                    }
                    &:hover{
                        color: #e9e9e9;
                        border-color: #e9e9e9;
                        background: #e9e9e96e; 
                        i{
                           
                            border-color: #e9e9e9;
                            background: #e9e9e9; 
                        }

                    }
                }
                .active{
                        color: #ea5353;
                        border-color: #ea5353;
                        background: #e9e9e936; 
                        font-family: 'gotham';
                        i{
                           
                            border-color: #ea5353;
                            background: #ea5353; 
                        }

                    }
                
                
                
            }
        }
    }
}
.boxItem{
    border-radius: 5px;
    border-bottom: solid 0.3px #5a24833f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 8px;
    width: 100%;
    align-items: center;
    .Iteminfos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .imgUser{
            width: 60px;
            height: 60px;
            pointer-events: none;
            border-right: #1e1d3d solid 1px;
            border-radius: 50%; 
          }
        .ItemTitle{
            margin-left: 8px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            h3{
                text-decoration: none;
                color: #006188;
                font-size: 1.8em;
                font-weight: bolder;
                margin: 0;
                
                              
            }
            span{
                font-size: 0.9em;
                font-weight: lighter; 
                text-decoration: none;
            }
        }
    }
    
}
.LinkItem{
    text-decoration: none;
    transition: all 1s cubic-bezier();
    width: 100%;
    &:hover{
        color: #00b7ff;
        .boxItem{
            background-color: #00618817;
            position: relative;
            top: -5px;
            left: -5px;
        }
    }

}
.boxPatientprofil{
    
    padding: 8px;
    margin-right: 4px;
    margin-left: 4px;
    width: 100%;
    .btn{
        width: 100%;
        margin-top: 8px;
        &:active{
            background-color: #bde5f5;
        }
    }
    
}
.boxBlood{
    border-right: 0.5px solid #1e1d3d;
    padding: 8px;
    margin-right: 4px;
    margin-left: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h4{
        
        font-size: 0.9em;
        font-weight: lighter;
        }
}
.boxPatientImage{
    border-right: 0.5px solid #1e1d3d;
    padding: 8px;
    margin-right: 4px;
    margin-left: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .imgUser{
        width: 180px;
        height: 180px;
        border: 0.8px solid #5a2483;
        border-radius: 50%;
    }
    h3{
        font-size: 1em;
        text-align: center;
    }
   
    .viewInfos{
        display: flex;
        justify-content: center;
        align-items: center;
         
        h4{
        text-align: center;
        font-size: 0.8em;
        font-weight: lighter;
        }
    }
}
.myModal{ 
    position:fixed;
    z-index: 99;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #ffffff5b;
    justify-content: center;
    align-items: center;
    .boxModal{
        border: 0.8px solid #006188;
        border-radius: 8px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;
        max-width: 70%;
        h3{
            font-size: 1.2em;
        }
        .boxInput{
            display: flex;
            flex-direction: column;
            margin: 8px;
            justify-content: center;
            .btn{
                margin: 2px;
            }
        }
        .boxScroll{
            overflow-y: auto;
            max-width: 80%;
            max-height: 70vh;
            p{
                text-align: justify;
                padding-right: 12px;
            }
        }
    }
}
.formAdd{
    padding: 20px;
    margin: 10px;
    border: #006188 solid 1px;
    border-radius: 25px;
    
    .inputBox{
        display: flex;
        flex-direction: column;
        padding-right: 24px;
    }
    .duoBox{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 14px; ;
    }
    .genrebox{
        display: flex;
        justify-content: space-between;
        .genre{
            margin-right: 8px;
            label{
            margin-right: 4px;
            }
        }
        
    }
}
